Biz/Web References/EmailWS/EmailServer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://MicNets" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://MicNets" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://MicNets">
      <s:element name="SendEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="oInfo" type="tns:Email" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Email">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Body" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DateSent" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EmailID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="From" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsSensitiveData" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="NPriority" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SensitiveData" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="To" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendEmailResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendEmailSoapIn">
    <wsdl:part name="parameters" element="tns:SendEmail" />
  </wsdl:message>
  <wsdl:message name="SendEmailSoapOut">
    <wsdl:part name="parameters" element="tns:SendEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="EmailServerSoap">
    <wsdl:operation name="SendEmail">
      <wsdl:input message="tns:SendEmailSoapIn" />
      <wsdl:output message="tns:SendEmailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="EmailServerHttpGet" />
  <wsdl:portType name="EmailServerHttpPost" />
  <wsdl:binding name="EmailServerSoap" type="tns:EmailServerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendEmail">
      <soap:operation soapAction="http://MicNets/SendEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmailServerSoap12" type="tns:EmailServerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendEmail">
      <soap12:operation soapAction="http://MicNets/SendEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmailServerHttpGet" type="tns:EmailServerHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="EmailServerHttpPost" type="tns:EmailServerHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="EmailServer">
    <wsdl:port name="EmailServerSoap" binding="tns:EmailServerSoap">
      <soap:address location="http://www.micnets.com/WebService/EmailServer.asmx" />
    </wsdl:port>
    <wsdl:port name="EmailServerSoap12" binding="tns:EmailServerSoap12">
      <soap12:address location="http://www.micnets.com/WebService/EmailServer.asmx" />
    </wsdl:port>
    <wsdl:port name="EmailServerHttpGet" binding="tns:EmailServerHttpGet">
      <http:address location="http://www.micnets.com/WebService/EmailServer.asmx" />
    </wsdl:port>
    <wsdl:port name="EmailServerHttpPost" binding="tns:EmailServerHttpPost">
      <http:address location="http://www.micnets.com/WebService/EmailServer.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>